<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Calculator</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
        </script>
        <script src="semantic/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui header" style="line-height: 50px; margin: 25px auto; text-align: center; border-radius: 20px; width: 200px; background-color: #365bba; height: 50px; color: white;">
            Calculator
        </div>
        <div class="ui header" style="margin: 25px auto; text-align: center">
            This calculator supports  + , - , * , / , ^ , exp() and log() functionalities
        </div>
        <div style = "margin: 25px auto; text-align: center">
            <form method="POST" class="ui form">
                <div class="ui large input">
                    <input type="text" name="user_input" placeholder="type in math expression ..." style="border-radius: 100px; width: 400px; border: 2px solid #365bba"/>
                </div>
                <button class="ui pink right attached button" style="padding: 16px; border-radius: 50px; text-align: center; background-color: #365bba">Calculate!</button>
            </form>
        </div>
        <div class="ui header">
            <h1 style= "padding: 10px; color: white; margin: 25px; text-align: center; border-radius: 50px; background-color: #365bba; width: 250px; font-size: 28px; "> Result </h1>
        </div>
        <div class="ui attached message" style=" color: #365bba; height: 180px; border-radius: 30px; border: 2px solid #365bba; margin: 25px;">
            <p>{{ RESULT }}</p>
        </div>
    </body>
</html>